div.timer {
    border:0px #ffffff solid;
    width:350px;
    height:90px;
    line-height:120px;
    font-size:80px;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    margin:35px;
    color: #ffffff;
    position: relative;
    left: 50%;
    margin-left: -194px;
}

.containerTimer{
	text-align:center;
	padding:10px;
	width:100vw;
	background-color:black;
}

div.control{
    font-size:72px;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    margin:35px;
    color: #ffffff;
}

.timerButtonStart {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.timerButtonStop {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.timerButtonReset {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}