*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.rootContainer{
	background-color: grey;
}

.addReservationButton{
	width:200px;
	height:30px;
	background-color:green;
}

.addReservationWindow{
	
}

#startDateTime{
	margin:10px;
}

#endDateTime{
	margin:10px;
}

.cancelReservationButton{
	width:200px;
	height:30px;
	background-color:green;
	margin-top: 100px;
}

.extendReservationButton{
	width:200px;
	height:30px;
	background-color:red;
	display:none;
	margin-top: 100px;
}

#reservationList{
	width: 100%;
	text-align: center;
	perspective: 500px;
	white-space: nowrap;
	overflow-x: auto;
}

.reservationItem{
	background-color:grey;
	padding:10px;
	display:inline-block;
	transition: 1s linear all;
	transform: translate(100vw, 0) rotateY(90deg)
}

#currentTime{
	font-size:100px;
	font-weight: bold;
	display:block;
}

#currentDate{
	font-size:25px;
	display:block;
}

#roomName{
	font-size:50px;
	font-weight: bold;
	display:block;
}

#imageLogo{
	width: 20%;
}

.modalContainer{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top:0px;
	left:0px;
	text-align:center;
	display: none;
}

.modalContainer .innerContainer{
	background-color:white;
	display: inline-block;
	padding: 20px;
}

.textInput{
	width:300px;
	height:25px;
	padding:20px;
	border-style:none;
	outline:none;
}

.textInput:focus{
	border-style:none;
	outline:1px solid blue;
}

.cancelButton{
	background-color:red;
	color:white;
	margin:10px;
	width:150px;
	height:25px;
}

.okButton{
	background-color:green;
	color:white;
	margin:10px;
	width:150px;
	height:25px;
}

.button{
	color:white;
	opacity:1;
	border-style: none;
}

.button:active{
	opacity:0.5;
}

.container1{
	text-align:center;
	padding:10px;
}

.container2{
	text-align:center;
	padding:10px;
}

.container3{
	text-align:center;
	padding:10px;
	width:100vw;
	background-color:black;
}

.innerContainer{
	position: relative;
	top: 30%;
}

#videoBackground{
	position:absolute;
	width:100vw;
	z-index:-1;
}

.picker__list{
	padding:0;
}

@media screen and (orientation:portrait) {
.container1{
	width:100vw;
	height:30vh;
}
	
.container2{
	width:100vw;
	height:30vh;
}
	
.container3{
	height:40vh;
}
}
 
@media screen and (orientation:landscape) {
.container1{
	width:50vw;
	height:50vh;
	float:left;
}
	
.container2{
	width:50vw;
	height:50vh;
	float:left;
}

.container3{
	height:50vh;
}
}