*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.rootContainer{
	background-color: grey;
}

.addBookingButton{
	width:200px;
	height:30px;
	background-color:green;
}

.cancelBookingButton{
	width:100%;
	height:30px;
	background-color:green;
}

.extendBookingButton{
	width:100%;
	height:30px;
	background-color:red;
	display:none;
}

#bookingList{
	width: 100%;
	height: 300px;
	text-align: center;
	perspective: 500px;
	white-space: nowrap;
	overflow: scroll;
}

.bookingItem{
	background-color:grey;
	width:300px;
	height:200px;
	padding:5px;
	display:inline-block;
}

#currentTime{
	font-size:100px;
	font-weight: bold;
	display:block;
}

#currentDate{
	font-size:25px;
	display:block;
}

#roomName{
	font-size:50px;
	font-weight: bold;
	display:block;
}

#imageLogo{
	width: 20%;
}

.container1{
	text-align:center;
	padding:10px;
}

.container2{
	text-align:center;
	padding:10px;
}

.container3{
	text-align:center;
	padding:10px;
	width:100%;
	background-color:black;
}

.innerContainer{
	position: relative;
	top: 30%;
}

@media screen and (orientation:portrait) {
.container1{
	width:100%;
	height:300px;
}
	
.container2{
	width:100%;
	height:300px;
}
	
.container3{
	height:312px;
}
}
 
@media screen and (orientation:landscape) {
.container1{
	width:50%;
	height:300px;
	float:left;
}
	
.container2{
	width:50%;
	height:300px;
	float:left;
}

.container3{
	height:300px;
}
}